@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Лабораторна №6</h2>
    <h3>Виконав студент групи ІПЗ-31, Давидчук Роман</h3>
    <h4>Варіант 35</h4>
    <p>Для отримання доступу до функціоналу, зареєструйтеся та авторизуйтесь</p>
</div>
